/* Plugin Name - Post-Carousel-Slider */
/* Author - Bhaskar Dhote and Sheetal Sahay Sharma */


body {
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.post-carousel-inner .top_blk {
	background: #eaebec; /* Old browsers */
	background: -moz-linear-gradient(left, #eaebec 0%, #f2f3f3 21%, #fafbfb 44%, #fafbfb 54%, #f2f3f3 79%, #e8e9ea 99%, #e8e9ea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #eaebec), color-stop(21%, #f2f3f3), color-stop(44%, #fafbfb), color-stop(54%, #fafbfb), color-stop(79%, #f2f3f3), color-stop(99%, #e8e9ea), color-stop(100%, #e8e9ea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #eaebec 0%, #f2f3f3 21%, #fafbfb 44%, #fafbfb 54%, #f2f3f3 79%, #e8e9ea 99%, #e8e9ea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #eaebec 0%, #f2f3f3 21%, #fafbfb 44%, #fafbfb 54%, #f2f3f3 79%, #e8e9ea 99%, #e8e9ea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #eaebec 0%, #f2f3f3 21%, #fafbfb 44%, #fafbfb 54%, #f2f3f3 79%, #e8e9ea 99%, #e8e9ea 100%); /* IE10+ */
	background: linear-gradient(to right, #eaebec 0%, #f2f3f3 21%, #fafbfb 44%, #fafbfb 54%, #f2f3f3 79%, #e8e9ea 99%, #e8e9ea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaebec', endColorstr='#e8e9ea', GradientType=1 ); /* IE6-9 */
	text-align: center;
	padding: 8px;
}
.post-carousel-title {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding-right: 0px;
	text-align: center;
}
.post-carousel-title {
	background: url("images/post_title_shadow.png") no-repeat scroll center top rgb(45, 48, 50);
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: 0px !important;
	padding: 5px 10px 9px;
	font-style: normal;
}
.post-carousel-main .post-carousel-inner {
	border: 2px solid rgb(204, 204, 204);
	border-radius: 5px;
	min-height:325px;
}
.btn_des {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 31%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(31%, #ffffff), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 31%, #ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 31%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 31%, #ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 31%, #ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec', GradientType=0 ); /* IE6-9 */
	float: left;
}
.btn_des {
  border-radius: 0 0 5px 5px;
  font-size: 13px;
  padding: 10px 25px 6px;
  text-align: center;
}
.btn_des .post-carousel-content, .btn_des .post-carousel-readmore a {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
}
